[bitflux]
name=bitflux
baseurl=https://mirror.bitflux.ai/repository/yum/release/rocky/$releasever/$basearch
enabled=1
gpgcheck=1
gpgkey=https://mirror.bitflux.ai/repository/keys/keys/bitflux_pub.key
repo_gpgcheck=0
